---
title: Contacto
author: CanalDBA  
layout: page
description: Trabajamos muy duro, como esclavos, paguenme dinero 🎶
category: contact
---

<section class="inner">

  <p>
    Para solicitar el ingreso a este selecto canal, 
    contáctanos a través de 🐦 (@canaldba) 
    o canaldba.social [at] gmail (.) com 
    <br />
    Lo ofuscamos así para cagarnos de risa de la gente 
    que dice <i>"ese mail no me funcionó"</i>.
  </p>

  <!-- Please change the email below with your email to activate the form 
  <form action="http://formspree.io/ariestiyansyah.rizky@gmail.com" role="form" method="POST"> 
<div class="form-group">
<label for="name">Nombre</label>
      <input type="text" name="name" class="form-control" required>
    </div>

<div class="form-group">
      <label for="_replyto">Email</label>
      <input type="email" name="_replyto" class="form-control" required>
    </div>

<div class="form-group">
      <label for="problem">¿Cual es la consulta?</label>
      <textarea name="problem" class="form-control" rows="2"></textarea>
    </div>


<div class="form-group">
      <label for="project">Categoría</label>
      <select name="project" class="form-control">
        <option value="">Choose...</option>
        <option>Eventos</option>
        <option>Aiuda</option>
        <option>Corregir nuestro horrible site</option>
        <option>Darnos dinero</option>
	      <option>HR</option>
        <option>Otros</option>
      </select>
    </div>

<div class="form-group">
      <label for="message">¡Estamos para ayudarte!</label>
      <textarea name="body" class="form-control" rows="4" width="100%" required></textarea>
    </div>
<div>
      <input type="hidden" name="">
      <input type="submit" class="submit-btn" value="Quiero ponerme en contacto">
      or <a href="mailto:canaldba.social@gmail.com">dejanos un email.</a>
    </div>
  </form>

-->
</section>

